<nav class="navbar navbar-expand-md navbar-light fixed-top">
  <div class="container-fluid">
    <span class="navbar-brand">
      <a class="h5" href="/"><img src="/images/cybervattam-logo-colour-ta.svg"></a>
    </span>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      {{ $booksSection := site.GetPage "section" "books" }}
      {{ range $booksSection.Sections }}
        <li class="nav-item">
          <a class="nav-link active" href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
      </ul>
        <!-- <li class="nav-item">
          <a class="nav-link active" href="/books/javascript">Javascript</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/books/c">C</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/practices/java">Java</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="books/cryptography">திருக்குறள்</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" href="/posts">Blog</a>
        </li> -->
      

      <ul class="navbar-nav secured">
        <!-- F -->
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             {{$.Site.Home.Language.LanguageName}} 
          </a>
          <ul class="dropdown-menu" aria-labelledby="languageBtn">
          {{ range $.Site.Home.Translations }}
          <li>
            <a class="dropdown-item" data-code={{.Language.Lang}} href="{{ if (ne .Language.Lang "ta") }}/{{ .Language.Lang }}{{ $.RelPermalink }} {{ else }}{{ substr $.RelPermalink 3 }}{{ end }}">
              {{ .Language.LanguageName }}
            </a>
          </li>
          {{ end }}
        </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>