<nav class="navbar navbar-expand-md navbar-light fixed-top">
  <div class="container-fluid">
    <span class="navbar-brand">
      <a class="h5" href="/"><img src="/images/cybervattam-logo-colour-ta.svg"></a>
    </span>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/books/cybersecurity">தகவல் பாதுகாப்பு</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/books/emergingtech">வளரும் தொழில்நுட்பங்கள்</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/books/aboutus">எங்களை பற்றி</a>
        </li>
        
        <!-- <li class="nav-item">
          <a class="nav-link active" href="/books/javascript">Javascript</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/books/c">C</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/practices/java">Java</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="books/cryptography">திருக்குறள்</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" href="/posts">Blog</a>
        </li> -->
      </ul>

      <ul class="navbar-nav secured">
        <!-- F -->
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             {{$.Site.Home.Language.LanguageName}} 
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {{ range $.Site.Home.Translations }}
          <li><a class="dropdown-item" href="#">{{ .Language.LanguageName }}</a></li>
          {{ end }}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>