<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">

<head>


  {{ block "head" . }}{{ partial "head" . }}{{end}}

  {{ if templates.Exists ( printf "partials/head-%s.html" .Type ) }}
  {{ $partialPath := printf "head-%s" .Type }}
  {{ partial $partialPath . }}
  {{ end }}


</head>

<body>
  <div class="site-shell">
    {{ block "header" . }}{{ partial "header" . }}{{end}}

    <main id="main-container">
      {{ block "main" . }}{{end}}
    </main>
    {{ block "footer" . }}{{ partial "footer" . }}{{end}}
  </div>



  {{ block "scripts" . }}{{ partial "scripts" . }}{{end}}

  {{ if templates.Exists ( printf "partials/scripts-%s.html" .Type ) }}
  {{ $partialPath := printf "scripts-%s" .Type }}
  {{ partial $partialPath . }}
  {{ end }}

  
</body>

</html>