{{ define "main" }}



<div class="container vh-100">
  
  வணக்கம்...!!! சைபர் வட்டம் தளத்திற்கு உங்களை வரவேற்கிறோம்...!!! <br> <br>

  தகவல் தொழில்நுட்பத்தை அவரவர் தாய் மொழியில் பயில்வதற்கு தேவையான தரவுகளை உருவாக்குவதே இந்த தளத்தின் நோக்கம். <br> <br>
  
  தற்போது, ஆங்கிலம் மற்றும் தமிழில் தரவுகள் கிடைக்கின்றன. மற்ற மொழிகளிலும், இதனை கிடைக்கச் செய்வதில் மிகுந்த ஆர்வமாக உள்ளோம். <br> <br>
  
  நீங்கள், இதனை உங்கள் மொழியில் கிடைக்க உதவலாம்.  <br> <br>

  இந்த தளத்தில் உள்ள அனைத்து படைப்புகளும், <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"> படைப்பாக்கப் பொதுமங்கள்-பெயர் குறிப்பிடுதல்-வர்த்தக நோக்கமற்ற-அதே மாதிரி பகிர்தல் </a> (CC-BY-NC-SA 4.0) உரிமத்தின் கீழ் வழங்கப்படுகிறது. <br> <br>
  
    </div>


{{ end }}
